<div class="page-header">
  <h1>
  	<% if !TEAMS[@team.name].nil? %>
    	<%= TEAMS[@team.name] %>
    <% else %>
    	<%= @team.name.upcase %>
    <% end %>
  </h1>
</div>

<div class="team-roster-container">
	<ul>
	  <% @runners.each do |runner| %>
	  	<a href="<%=runner_url(runner.slug)%>">
	  	<li class="runner-container">
	  		<h2 class="runner-name">
	  			<%= "#{runner.first_name.split.map(&:capitalize).join(' ')} #{runner.last_name.split.map(&:capitalize).join(' ')}" %>
	  		</h2>
	  		<div class="runner-details">
			  <dl>
				  <dt class="runner-attribute"><strong>Sex:</strong></dt>
				  <dd class="runner-value"><%= runner.sex %></dd>
				  <dt class="runner-attribute"><strong> Hometown:</strong></dt>
				  <dd class="runner-value"><%= "#{runner.city}, #{runner.state}" %></dd>
          <dt class="runner-attribute"><strong> Country:</strong></dt>
				  <dd class="runner-value"><%= "#{runner.country}" %></dd>
			  </dl>
	  		</div>
		</li>
	  <% end %>
	</ul>
</div>

<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60193441-1', 'auto');
  ga('send', 'pageview');

</script>
