<%- model_class = Race -%>
<div class="results-page-header page-header">
  <h1><%= @race.name %></h1>
  
  <dl>
    <% @race.attributes.each do |attribute, value| %>
      <% next if value.nil? %>
      <% next if ["club_points", "id", "created_at", "updated_at", "date", "temperature", "humidity", "name"].include? attribute %>
      <dt class="race-attribute"><strong><%= model_class.human_attribute_name(attribute) %>:</strong></dt>
      <dd class="race-attribute-value">
        <%= value %>
        <% case attribute %>
        <% when "distance" %>
          miles
        <% end %>
      </dd>
    <% end %>
  </dl>
</div>


<div class="race-page-content">
  <div class="race-results-table">
      <table class="results-table table table-hover">
          <thead>
              <tr>
                  <th>O</th>
                  <th>G</th>
                  <th>A</th>
                  <th>Name</th>
                  <th>Team</th>
                  <th>Sex</th>
                  <th>Age</th>
                  <th>Bib</th>
                  <th> <%= @race_time_array[0] %> </th>
                  <th>Pace</th>
                  <th>AG Time</th>
                  <th>AG%</th>
              </tr>
          </thead>
          <tfoot>
            <tr>
                  <th>O</th>
                  <th>G</th>
                  <th>A</th>
                  <th>Name</th>
                  <th>Team</th>
                  <th>Sex</th>
                  <th>Age</th>
                  <th>Bib</th>
                  <th> <%= @race_time_array[0] %> </th>
                  <th>Pace</th>
                  <th>AG Time</th>
                  <th>AG%</th>
            </tr>
          </tfoot>
          <tbody>
              <% @race.results.sort_by(&:overall_place).each do |result| %>
                <tr>
                    <td><%= result.overall_place %></td>
                    <td><%= result.gender_place %></td>
                    <td><%= result.age_place %></td>
                    <td><%= link_to "#{result.first_name} #{result.last_name}", controller: "runners", action: "show", id: "#{result.runner.id}"%></td>
                    <td><%= result.team %></td>
                    <td><%= result.sex %></td>
                    <td><%= result.age %></td>
                    <td><%= result.bib %></td>
                    <td><%= result.send(@race_time_array[1]) %></td>
                    <td><%= result.pace_per_mile %></td>
                    <td><%= result.ag_time %> </td>
                    <td><%= result.ag_percent %>%</td>
                </tr>
              <% end %>
          </tbody>
      </table>
  </div>
</div>

<script>

  var $resultsTable = $('.results-table').DataTable( {
      "aaSorting": [],
      "aoColumnDefs": [
        { "orderable": false, "targets": "_all", type: "checkbox", values: [ 'Gecko', 'Trident'] }
      ],
      "pagingType": "full",
      "dom": "<'results-table-header group'fpi>",
      "lengthMenu": [ 10 ],
      // "responsive": true,
      "columns": [
        { "width": "34px" },
        { "width": "34px" },
        { "width": "34px" },
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null
      ]
    });
    
    new $.fn.dataTable.FixedHeader( $resultsTable, {
      "offsetTop": 40
    } );

    // Setup - add a text input to each footer cell
    $('.results-table tfoot th').each( function () {
        var title = $('.results-table thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // Apply the search
    $resultsTable.columns().eq( 0 ).each( function ( colIdx ) {
        $( 'input', $resultsTable.column( colIdx ).footer() ).on( 'keyup change', function () {
            $resultsTable
                .column( colIdx )
                .search( this.value )
                .draw();
        } );
    } );

    $resultsTable.columnFilter({aoColumns: [
        { type: "checkbox", values: [ 'Gecko', 'Trident'] },
        {},
        {},
        {},
        { type: "checkbox", values: [ 'A', 'C']  },
        {},
        {},
        {},
        {},
        {},
        {},
        {}
      ]});

</script>