<%- model_class = Race -%>
<div class="results-page-header page-header">
  <h1><%= @race.name %></h1>
  
  <dl>
    <% @race.attributes.each do |attribute, value| %>
      <% next if value.nil? %>
      <% next if ["club_points", "id", "created_at", "updated_at", "date", "temperature", "humidity", "name"].include? attribute %>
      <dt class="race-attribute"><strong><%= model_class.human_attribute_name(attribute) %>:</strong></dt>
      <dd class="race-attribute-value">
        <%= value %>
        <% case attribute %>
        <% when "distance" %>
          miles
        <% end %>
      </dd>
    <% end %>
  </dl>
</div>


<div class="race-page-content">
  <div class="race-results-table">
      <table class="results-table table table-hover">
          <thead>
              <tr>
                  <th class="race-header-title">Overall</th>
                  <th class="race-header-title">Gender</th>
                  <th class="race-header-title">AG</th>
                  <th class="race-header-title">
                    <input type="text" placeholder="Runner" />
                  </th>
                  <th>
                    <select class="race-header-select">
                      <option value="Team" select="selected">
                        Team
                      </option>
                    </select>
                  </th>
                  <th>
                    <select class="race-header-select">
                      <option value="Sex" select="selected">
                        Sex
                      </option>
                    </select>
                  </th>
                  <th>                    
                    <select class="race-header-select">
                      <option value="Age" select="selected">
                        Age
                      </option>
                    </select>
                  </th>
                  <th class="race-header-title">Bib</th>
                  <th class="race-header-title"> <%= @race_time_array[0] %> </th>
                  <th class="race-header-title">Pace</th>
                  <th class="race-header-title">AG Time</th>
                  <th class="race-header-title">AG%</th>
              </tr>
          </thead>
          <tbody>
              <% @race.results.sort_by(&:overall_place).each do |result| %>
                <tr>
                    <td><%= result.overall_place %></td>
                    <td><%= result.gender_place %></td>
                    <td><%= result.age_place %></td>
                    <td><%= link_to "#{result.first_name.split.map(&:capitalize).join(' ')} #{result.last_name.split.map(&:capitalize).join(' ')}", controller: "runners", action: "show", id: "#{result.runner.id}"%></td>
                    <td><%= result.team %></td>
                    <td><%= result.sex %></td>
                    <td><%= result.age %></td>
                    <td><%= result.bib %></td>
                    <td><%= result.send(@race_time_array[1]).prepend(' ').sub!(/\s0{1,2}:*0*|\s/, "") %></td>
                    <td><%= result.pace_per_mile.prepend(' ').sub!(/\s0{1,2}:*0*|\s/, "") %></td>
                    <td><%= result.ag_time.prepend(' ').sub!(/\s0{1,2}:*0*|\s/, "") %> </td>
                    <td><%= result.ag_percent %>%</td>
                </tr>
              <% end %>
          </tbody>
      </table>
  </div>
</div>

<script>

  var $resultsTable = $('.results-table').DataTable( {
      "aaSorting": [],
      "aoColumnDefs": [
        { "orderable": false, "targets": "_all" }
      ],
      "pagingType": "simple_numbers",
      "dom": "<bottom'results-table-header'p>",
      "lengthMenu": [ 10 ],
      "bLengthChange": false,
      // "responsive": true,
      "columns": [
        {"width": "70px", "orderable": true},
        {"width": "70px", "orderable": true},
        {"width": "65px", "orderable": true},
        {},
        null,
        null,
        null,
        { "orderable": true },
        { "orderable": true },
        { "orderable": true },
        { "orderable": true },
        { "orderable": true }
      ],
    });



    
    // new $.fn.dataTable.FixedHeader( $resultsTable, {
    //   "offsetTop": 40
    // } );

    // Setup - add a text input to each footer cell
    // $('.results-table tfoot th').each( function () {
    //     var title = $('.results-table thead th').eq( $(this).index() ).text();
    //     $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    // } );

    // Apply the search
    // $resultsTable.columns().eq( 0 ).each( function ( colIdx ) {
    //     $( 'input', $resultsTable.column( colIdx ).footer() ).on( 'keyup change', function () {
    //         $resultsTable
    //             .column( colIdx )
    //             .search( this.value )
    //             .draw();
    //     } );
    // } );

    // $resultsTable.columnFilter({aoColumns: [
    //     { type: "checkbox", values: [ 'Gecko', 'Trident'] },
    //     {},
    //     {},
    //     {},
    //     { type: "checkbox", values: [ 'A', 'C']  },
    //     {},
    //     {},
    //     {},
    //     {},
    //     {},
    //     {},
    //     {}
    //   ]});
</script>