<%- model_class = Runner -%>
<div class="page-header">
  <h1>
    <%= "#{@runner.first_name.split.map(&:capitalize).join(' ')} #{@runner.last_name.split.map(&:capitalize).join(' ')}" %>
  </h1>
</div>

<dl class="dl-horizontal">
  <% if @runner.team != '0' && !@runner.team.blank? %>
    <dt><strong>Team:</strong></dt>
    <dd>
      <% if !TEAMS[@runner.team].empty? %>
        <%= TEAMS[@runner.team] %>
      <% else %>
        <%= @runner.team.upcase %>
      <% end %>
    </dd>
  <% else %>
    <dt><strong>Team:</strong></dt>
    <dd>unattached</dd>
  <% end %>
  <dt><strong>Sex:</strong></dt>
  <dd><%= @runner.sex %></dd>
  <dt><strong> Birth year:</strong></dt>
  <dd><%= @runner.birth_year %></dd>
</dl>

<table class="results-table table table-hover">
    <thead>
        <tr>
            <th>Race</th>
            <th>Date</th>
            <th>O</th>
            <th>G</th>
            <th>A</th>
            <th>Age</th>
            <th>Bib</th>
            <th>Team</th>
            <th>Time</th>
            <th>Pace</th>
            <th>AG Time</th>
            <th>AG%</th>
        </tr>
    </thead>
    <tbody>
        <% @runner.results.each do |result| %>
          <tr>
              <td class="runner-table-clickable-td">
                <a href="<%= race_url(result.race.slug) %>">
                  <div class="runner-table-clickable-field">
                    <%= "#{result.race.name}" %>
                  </div>
                </a>
              </td>
              <td><%= result.race.date.strftime("%B %d, %Y") %></td>
              <td><%= result.overall_place %></td>
              <td><%= result.gender_place %></td>
              <td><%= result.age_place %></td>
              <td><%= result.age %></td>
              <td><%= result.bib %></td>
                    <td class="runner-table-clickable-td">
                      <% if result.team != '0' && !result.team.blank? %>
                        <a href="<%= team_url(result.team) %>">
                          <div class="runner-table-clickable-field">
                            <%= result.team %>
                          </div>
                        </a>  
                      <% end %>
                    </td>
              <% if result.net_time %>
                <td><%= result.net_time %></td>
              <% elsif result.finish_time %>
                <td><%= result.finish_time %></td>
              <% else %>
                <td><%= result.gun_time %></td>
              <% end %>
              <td><%= result.pace_per_mile %></td>
              <td><%= result.ag_time %> </td>
              <td><%= result.ag_percent %>%</td>
          </tr>
        <% end %>
    </tbody>
</table>