<ul>
  <% results.each do |result| %>
    <li class="search-all-item">
    	<% if result[:type] == "runner" %>
    		<a href="<%=runner_url(result[:id])%>">
	    		<div class="search-all-left">
	    			<%= "#{result[:first_name].split.map(&:capitalize).join(' ')} #{result[:last_name].split.map(&:capitalize).join(' ')}" %>
	    		</div>
	    		<div class="search-all-right">
	    			<% if result[:team] != '0' && !result[:team].blank? %>
					  	Team: <%= result[:team].upcase %>
					  <% else %>
					  	unattached
						<% end %>
	    		</div>
	    	</a>
      <% else %>
         <a href="<%=race_url(result[:id])%>">
	    		<div class="search-all-left">
	    			<%= "#{result[:name]}" %>
	    		</div>
	    		<div class="search-all-right">
					  <%= Date.parse(result[:date]).strftime("%B %d, %Y") %>
	    		</div>
	    	</a>
      <% end %>
    </li>
  <% end %>
</ul>