<%- model_class = ProjectedRace -%>
<div class="results-page-header page-header">
  <h1>Projection: <%= @projected_race.name %></h1>

  <dl>
    <% @projected_race.attributes.each do |attribute, value| %>
      <% next if value.nil? %>
      <% next if ["club_points", "id", "created_at", "updated_at", "date", "temperature", "humidity", "name", "slug"].include? attribute %>
      <dt class="race-attribute">
        <strong>
          <% if attribute == "date_and_time" %>
            date / time:
          <% else %>
            <%= attribute %>:
          <% end %>
        </strong>
      </dt>
      <dd class="race-attribute-value">
        <%= value %>
        <% case attribute %>
        <% when "distance" %>
          <% if value == 1.0 %>
            mile
          <% else %>
            miles
          <% end %>
        <% end %>
      </dd>
    <% end %>
  </dl>
</div>


<div class="race-page-content">
  <div class="race-results-table">
      <table class="results-table table table-hover">
          <thead>
              <tr>
                  <th class="race-header-title">Overall</th>
                  <th class="race-header-title">Gender</th>
                  <th class="race-header-title">
                    <input type="text" placeholder="Runner" class="runner-text-input"/>
                  </th>
                  <th>
                    <select class="race-header-select race-select-team">
                      <option value="" select="selected">
                        Team
                      </option>
                      <option value="nbr">
                        NBR
                      </option>
                    </select>
                  </th>
                  <th>
                    <select class="race-header-select race-select-sex">
                      <option value="" select="selected">
                        Sex
                      </option>
                      <option value="M">
                        M
                      </option>
                      <option value="F">
                        F
                      </option>
                    </select>
                  </th>
                  <th>
                    <select class="race-header-select race-select-age">
                      <option value="" select="selected">
                        Age
                      </option>
                      <option value="0-19">
                        &#60; 19
                      </option>
                      <% (2..9).each do |i| %>
                        <option value="<%=i%>0-<%=i%>9">
                          <%=i%>0 - <%=i%>9
                        </option>
                      <% end %>
                    </select>
                  </th>
                  <th class="race-header-title">Bib</th>
                  <th class="race-header-title">Net Time</th>
                  <th class="race-header-title">Pace</th>
                  <th class="race-header-title">AG%</th>
              </tr>
          </thead>
          <tbody>
<!--             <% @projected_results.each do |result| %>
                <tr>
                    <td><%= result.overall_place %></td>
                    <td><%= result.gender_place %></td>
                    <% unless result.runner.nil? %>
                      <td class="result-table-clickable-td">
                        <a href="<%= runner_url(result.runner.slug) %>">
                          <div class="result-table-clickable-field">
                            <%= "#{result.first_name.split.map(&:capitalize).join(' ')} #{result.last_name.split.map(&:capitalize).join(' ')}" %>
                          </div>
                        </a>
                      </td>
                      <td class="result-table-clickable-td">
                        <% if result.team != '0' && !result.team.blank? %>
                          <a href="<%= team_url(result.team) %>">
                            <div class="result-table-clickable-field">
                              <%= result.team.upcase %>
                            </div>
                          </a>
                        <% end %>
                      </td>
                    <% else %>
                      <td>
                        <%= result.full_name.split.map(&:capitalize).join(' ') %>
                      </td>
                      <td>
                        <%= result.team %>
                      </td>
                    <% end %>
                    <td><%= result.sex %></td>
                    <td><%= result.age %></td>
                    <td><%= result.bib %></td>
                    <td><%= result.net_time %></td>
                    <td><%= result.pace_per_mile %></td>
                    <td><%= result.ag_percent %>%</td>
                </tr>
              <% end %> -->
          </tbody>
      </table>
  </div>
</div>

<div class="team-results-main-container">
  <div class="team-results-title">
    <h2> Team Results </h2>
  </div>
  <div class="mens-results-container team-results-column">
    <h3 class="team-gender-results-title"> Men's Results </h3>
    <% @men_teams_to_display.times do |i| %>
      <div class="team-results-container">
        <div class="team-title-container group">
          <div class="team-title">
            <%= i + 1  %>
            :
            <% if !TEAMS[@men_scores[i][:team]].nil? %>
              <%= TEAMS[@men_scores[i][:team]] %>
            <% else %>
              <%= @men_scores[i][:team].upcase %>
            <% end %>
          </div>
          <div class="team-time"><%= @men_scores[i][:total_time].prepend(' ').sub!(/\s0{1,2}:*0*|\s/, "") %></div>
        </div>
        <div class="team-runners-container">
          <% @men_scores[i][:runners].each do |runner| %>
            <div class="runner-container">
              <div class="runner-name-container">
                <%= runner[:name] %>
              </div>
              <div class="runner-time-container">
                <%= runner[:net_time].prepend(' ').sub!(/\s0{1,2}:*0*|\s/, "") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="womens-results-container team-results-column">
    <h3 class="team-gender-results-title"> Women's Results </h3>
    <% @women_teams_to_display.times do |i| %>
      <div class="team-results-container">
        <div class="team-title-container group">
          <div class="team-title">
            <%= i + 1  %>
            :
            <% if !TEAMS[@women_scores[i][:team]].nil? %>
              <%= TEAMS[@women_scores[i][:team]] %>
            <% else %>
              <%= @women_scores[i][:team].upcase %>
            <% end %>
          </div>
          <div class="team-time"><%= @women_scores[i][:total_time].prepend(' ').sub!(/\s0{1,2}:*0*|\s/, "") %></div>
        </div>
        <div class="team-runners-container">
          <% @women_scores[i][:runners].each do |runner| %>
            <div class="runner-container">
              <div class="runner-name-container">
                <%= runner[:name] %>
              </div>
              <div class="runner-time-container">
                <%= runner[:net_time].prepend(' ').sub!(/\s0{1,2}:*0*|\s/, "") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>

  var $resultsTable = $('.results-table').DataTable( {
      "dom": "frtiS",
      "ajax": "<%= get_projected_race_results_url(@projected_race.slug) %>",
      "deferRender": true,
      "scrollY": "500px",
      scrollCollapse: true,
      "columns": [
        { "data": "overall_place", "width": "70px", "orderable": true},
        { "data": "gender_place", "width": "70px", "orderable": true},
        { "data": "runner.full_name", "orderable": false},
        { "data": "team", "orderable": false},
        { "data": "sex", "orderable": false},
        { "data": "age", "orderable": false},
        { "data": "bib",  "orderable": true },
        { "data": "net_time",  "orderable": true },
        { "data": "pace_per_mile",  "orderable": true },
        { "data": "ag_percent",  "orderable": true }
      ],
      "createdRow": function ( row, data, index ) {
        $('td:eq(2)', row)
        .addClass('result-table-clickable-td')
        .html('\
                  <a href="<%= root_url %>' + 'runners/' + data.runner.slug + '">\
                    <div class="result-table-clickable-field"> \
                      ' + data.runner.full_name + ' \
                    </div> \
                  </a> '
                );

        if (data.team != 0 && data.team.replace(/\s/g, "").length != 0) {
          var teamColHTML = '<a href="<%= root_url %>' + 'teams/' + data.team + '"> \
              <div class="result-table-clickable-field results-table-team"> \
                ' + data.team + '\
              </div> \
            </a> \
          ';
        } else {
          var teamColHTML = data.team;
        }

        $('td:eq(3)', row)
          .addClass('result-table-clickable-td')
          .html(teamColHTML);

        return row;
      },
      "initComplete": function(settings, json) {
        var teams = [];
        $('.results-table-team').each(function(index, value) {
          teams.push($(value).html());
        })
        var uniqueTeams = $.unique(teams).sort()

        // populate select team
        for (var i in uniqueTeams) {
          $('.race-select-team').append( '<option value="'+uniqueTeams[i]+'">'+uniqueTeams[i]+'</option>' );
        }
      }
    });

    // Text Search
    $( '.runner-text-input' ).on( 'keyup change', function () {
        $resultsTable
            .column( 2 )
            .search( this.value )
            .draw();
    } );

    // Team Select
    $( '.race-select-team' ).change( function () {
        $resultsTable
            .column( 3 )
            .search( this.value )
            .draw();
    } );

    // Gender Select
    $( '.race-select-sex' ).change( function () {
        $resultsTable
            .column( 4 )
            .search( this.value )
            .draw();
    } );

    /* Custom filtering function which will search data in column four between two values */
    $.fn.dataTable.ext.search.push(
        function( settings, data, dataIndex ) {
            var min = parseInt( $( '.race-select-age' ).val().substring(0, 2), 10 );
            var max = parseInt( $( '.race-select-age' ).val().substring(3, 5), 10 );
            var age = parseFloat( data[5] ) || 0; // use data for the age column

            if ( ( isNaN( min ) && isNaN( max ) ) ||
                 ( isNaN( min ) && age <= max ) ||
                 ( min <= age   && isNaN( max ) ) ||
                 ( min <= age   && age <= max ) )
            {
                return true;
            }
            return false;
        }
    );

    // Age group select
    $( '.race-select-age' ).change( function () {
        var min = $( '.race-select-age' ).val().substring(0, 2);
        var max = $( '.race-select-age' ).val().substring(3, 5);
        $resultsTable
            .draw();
    } );

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60193441-1', 'auto');
    ga('send', 'pageview');

</script>
